.ModalAlert {
    padding-top: 75px;
    position: absolute;
    display: block;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
    overflow: auto;
}


